@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
  background-image: url("../public/home_bf.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
   */
}

.start-business {
  background-image: url("../public/home/pink-bg.svg");
}
